<!DOCTYPE html>
<html lang="en" style='height: 100%;'>

<head>
    <title>Yue's Site: sorry, this site is currently under maintenance.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <script>
        .fill {
            min - height: 100 % ;
            height: 100 % ;
        }
        html, body {
            height: 100 % ;
        }
    </script>
</head>

<body style="height: 100%;">

    <div class="container d-flex h-100" style="margin-top:30px;">
 
        <div class="row align-items-center">
            <div class="col-sm-4 my-auto">

                <center>
                    <h2>This site is currently under maintenance.</h2>
                    <br>
                    <h2> Sorry for your discommodity.</h2>
                    <br>
                    <h2>Please come back later.
                    </h2>
                </center>
            </div>
            <div class="col-sm-8 my-auto">
                <img class="img-fluid rounded" src="./static/images/website-maintenance.jpg">
            </div>
        </div>

    </div>

    <script type="text/javascript" src="./static/js/popper.min.js"></script>
    <script src="./static/js/jquery-3.4.1.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
    <script>
    </script>
</body></html>
